<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @question.content %>
  <%= pluralize(@question.votes, "vote") %>
  <td><%= button_to '+1', upvote_question_path(@question) %></td>
  <td><%= button_to '-1', downvote_question_path(@question) %></td></br>
</p>

<%@answers = Answer.where(question_id: @question.id)%>
<%@answers.each do |answer|%>
  <strong>Answer Title:</strong>
  <td><%= answer.title%></td></br>	
  <strong>Answer Content:</strong>
  <td><%= answer.content%></td></br>
  <%= pluralize(answer.votes, "vote") %>
  <td><%= button_to '+1', upvote_question_answer_path(@question, answer) %></td>
  <td><%= button_to '-1', downvote_question_answer_path(@question, answer) %></td></br>
<%end%><br>

<%= link_to 'New Answer', new_question_answer_path(@question) %><br>

<%= link_to 'Edit Question', edit_question_path(@question) %> |
<%= link_to 'Back to Questions', questions_path %>
